/* Sign-up */

.sign-up-page {
    background: url('/assets/img/pills.jpg')center no-repeat;
    background-size: cover;
}

.section__sign-up {
    padding-top: 100px;
}

.dropdown-menu {
    height: 100% !important;
    min-height: 250px !important;
    width: 200px !important;
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 16px;
}

.caret {
    border: none !important;
}

.btn-sign-up-page {
    margin-bottom: 40px !important;
}

.instructions-header {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 34px;
}

.instructions-text {
    margin-bottom: 30px;
}

.instructions-government:first-child {
    margin-bottom: 10px;
}

.form-top-text {
    margin-bottom: 50px;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    text-align: center;
}


/* .navbar-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */


/* @media (min-width: 768px) {
    .navbar-nav {
        float: right;
    }
} */

#mainNav .navbar-toggler {
    float: right;
}

.navbar-nav {
    flex-direction: row !important;
    float: right;
    /* margin: 0 !important; */
}

.error .bootstrap-select .dropdown-toggle,
.has-error .bootstrap-select .dropdown-toggle {
    border-color: #dddddd;
}

.btn-primary {
    background-color: #fed136;
    border-color: #fed136;
}

.btn-primary:hover {
    background-color: #ecba10;
    border-color: #ecba10;
}

.footer {
    font-size: 16px;
    ;
}


/* About-us */


/* .footer-stick {
    position: fixed;
    bottom: 0px;
    width: 100%;
} */

.about-us-page-section {
    background: url('/assets/img/About-us.png')center no-repeat;
    background-size: cover;
}

.order-img {
    margin-left: 10px;
}

.wcu-tile {
    margin-bottom: 20px;
    padding: 20px;
    border: 6px solid #fed136;
    border-radius: 70px;
}

.wcu-img {
    height: 150px;
    padding-bottom: 20px;
}

.wcu-text {
    margin-bottom: 30px;
}


/* Terms and Conditions */

.terms-container {
    padding-top: 150px;
    padding-bottom: 100px;
}

.terms-section {
    background: url('/assets/img/terms-pills.jpg')center no-repeat;
    background-size: cover;
}

@media (max-width: 452px) {
    .masthead-heading,
    .section-heading {
        font-size: 2rem !important;
    }
    .masthead-subheading {
        font-size: 1rem !important;
    }
}

.section-location {
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: rgba(254, 209, 54, 0.6);
}

.sign-up-link {
    color: #ec3e20;
}


/* Top page - Who we are */

.about-image {
    padding-top: 300px;
    /* padding-bottom: 50px; */
    background: url('/assets/img/about/shutterstock_1020473356.png')center no-repeat;
    background-size: cover;
}

.name-color {
    color: #ec3e20;
}