html {
    /* position: relative;
    min-height: 100%; */
}

body {
    /* margin-bottom: 70px; */
    /* Margin bottom by footer height */
}


/* Main/ Why Choose Us */

.why-us-img {
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    max-width: 40%;
    height: auto;
    background-color: #fed136;
    border-radius: 50%;
}

.why-us-img-inside {
    margin: 20px;
}


/* Sign-up */

.sign-up-page {
    background: url('/assets/img/pills.jpg')center no-repeat;
    background-size: cover;
}

.section__sign-up {
    padding-top: 100px;
}

.dropdown-menu {
    height: 100% !important;
    min-height: 250px !important;
    width: 200px !important;
}

#mainNav .navbar-nav .nav-item .nav-link {
    font-size: 16px;
}

.navbar-nav-sign-up {
    padding-top: 25px;
    flex-direction: row;
}

.navbar-nav>li>a:hover {
    border: none;
}

.sign-up-nav {
    min-height: 100px;
    align-items: center;
}

.navbar-brand {
    min-height: 100px !important;
}

.caret {
    border: none !important;
}

.btn-sign-up-page {
    margin-bottom: 40px !important;
}

.instructions-header {
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 32px;
    line-height: 34px;
}

.instructions-text {
    margin-bottom: 30px;
}

.instructions-government:first-child {
    margin-bottom: 10px;
}

.form-top-text {
    margin-bottom: 50px;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
    text-align: center;
}


/* .navbar-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
} */


/* @media (min-width: 768px) {
    .navbar-nav {
        float: right;
    }
} */

#mainNav .navbar-toggler {
    float: right;
}

.navbar-nav {
    float: right;
    /* margin: 0 !important; */
}

.error .bootstrap-select .dropdown-toggle,
.has-error .bootstrap-select .dropdown-toggle {
    border-color: #dddddd;
}

.btn-primary {
    background-color: #fed136;
    border-color: #fed136;
}

.btn-primary:hover {
    background-color: #ecba10;
    border-color: #ecba10;
}

.footer {
    font-size: 16px;
}


/* About-us */


/* .footer-stick {
    position: fixed;
    bottom: 0px;
    width: 100%;
} */

.about-us-page-section {
    background: url('/assets/img/About-us.png')center no-repeat;
    background-size: cover;
}

.order-img {
    margin-left: 10px;
}

.wcu-tile {
    margin-bottom: 20px;
    padding: 20px;
    border: 6px solid #fed136;
    border-radius: 70px;
}

.wcu-img {
    height: 150px;
    padding-bottom: 20px;
}

.wcu-text {
    margin-bottom: 30px;
}


/* Contact us */

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: space-between;
}

.contact-us-section {
    /* margin-bottom: 100px; */
    /* padding-bottom: 70px; */
    /* background: url('/assets/img/About-us.png')center no-repeat;
    background-size: cover; */
    /* height: 100vh; */
}

.contacts-background {
    background: url('/assets/img/About-us.png')center no-repeat;
    background-size: cover;
}

.contacts-header {
    padding-top: 150px;
    margin-bottom: 30px;
}

.contact-form-page {
    padding-top: 10px;
}

.form-message-us {
    height: 150px !important;
}

.contact-us-btn {
    margin-bottom: 80px;
}

.footer-stick-contact {
    position: absolute;
    width: 100%;
    height: 70px;
    line-height: 40px;
    background-color: white;
    bottom: 0px;
}

.section-contact-link {
    color: #ec3e20;
}

.contact-list {
    list-style-type: none;
}

.contact-icon {
    display: inline-block;
    width: 25px;
    height: 25px;
    margin-right: 10px;
    background-size: contain;
    transform: translateY(10px);
}

.contact-details {
    margin-left: 35px;
}

.contact-icon-1 {
    background: url("/assets/img/contact/placeholder.svg") center center no-repeat transparent;
}

.contact-icon-2 {
    background: url("/assets/img/contact/paper-plane.svg") center center no-repeat transparent;
}

.contact-icon-3 {
    background: url("/assets/img/contact/phone-call.svg") center center no-repeat transparent;
}

.contact-icon-4 {
    background: url("/assets/img/contact/email.svg") center center no-repeat transparent;
}


/* Terms and Conditions */

.terms-container {
    padding-top: 150px;
    padding-bottom: 100px;
}

.terms-section {
    background: url('/assets/img/terms-pills.jpg')center no-repeat;
    background-size: cover;
}

@media (max-width: 452px) {
    .masthead-heading,
    .section-heading {
        font-size: 2rem !important;
    }
    .masthead-subheading {
        font-size: 1rem !important;
    }
}

.section-location {
    padding-top: 50px;
    padding-bottom: 100px;
    background-color: rgba(254, 209, 54, 0.6);
}

.sign-up-link {
    color: #ec3e20;
}


/* Top page - Who we are */

.logo-img {
    height: 100px !important;
}

.about-image {
    padding-top: 300px;
    /* padding-bottom: 50px; */
    background: url('/assets/img/about/shutterstock_1020473356.png')center no-repeat;
    background-size: cover;
}